!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    %title RailsChat
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{ src: "https://js.pusher.com/4.1/pusher.min.js" }
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
